[submodule "tools/osmctools"]
	path = tools/osmctools
	url = git://github.com/mapsme/osmctools.git
[submodule "tools/kothic"]
	path = tools/kothic
	url = git://github.com/mapsme/kothic.git
[submodule "3party/Alohalytics"]
	path = 3party/Alohalytics
	url = git://github.com/mapsme/Alohalytics.git
[submodule "android/3rd_party/geo-engine"]
	path = android/3rd_party/geo-engine
	url = git@bitbucket.org:transtech/geo-engine.git
